<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>245385513699-0jv481ml4st04p3k9gvtfh72gh8jq8vm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.245385513699-0jv481ml4st04p3k9gvtfh72gh8jq8vm</string>
	<key>API_KEY</key>
	<string>AIzaSyA-XcjgZBSHnp8yxGzNm5Aav2LilvtenxA</string>
	<key>GCM_SENDER_ID</key>
	<string>245385513699</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mateuspp.gomotors</string>
	<key>PROJECT_ID</key>
	<string>gomotors-6b292</string>
	<key>STORAGE_BUCKET</key>
	<string>gomotors-6b292.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:245385513699:ios:df8e9a7bbcfea221b5d3d6</string>
</dict>
</plist>