<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>187760819289-c66r6p0buls8a8sg4qbctpqob4ik501p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.187760819289-c66r6p0buls8a8sg4qbctpqob4ik501p</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>187760819289-4m61kuadv5k992pocbqhf4hu5p5df347.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC_2fENe8V8JAU3yktN4U9NF5bZ0wshe2o</string>
	<key>GCM_SENDER_ID</key>
	<string>187760819289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.name.GoMotors</string>
	<key>PROJECT_ID</key>
	<string>gomotors-8186c</string>
	<key>STORAGE_BUCKET</key>
	<string>gomotors-8186c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:187760819289:ios:b4cf435fa64932e7bf4548</string>
</dict>
</plist>